@model CemexControlIngreso_V2.Models.VIAJECTRL

@{
    ViewBag.Title = "CheckList Vehículo";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("CheckList Vehículo", null, htmlAttributes: new { @class = "control-label col-md-2", style = "font-weight:bold;" })
        </div>
        <h4>  </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdViaje)
        <form>
            <label class="checkbox-inline">
                <input type="checkbox" value="">LLantas
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="">Motor
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="">Aceite
            </label>
        </form>
    </div>


@*<div class="form-horizontal">
    <div class="form-group">
        @Html.Label("CheckList Vehículo", null, htmlAttributes: new { @class = "control-label col-md-2", style = "font-weight:bold;" })
    </div>
    <h4>  </h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.IdViaje)



    <div class="form-group">
        @Html.Label("LLantas", null, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.CheckBox("Estado", true)
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Motor", null, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.CheckBox("Estado", true)
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Aceite", null, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.CheckBox("Estado", true)
        </div>
    </div>
    <div class="form-group">
        @Html.Label(" ", null, htmlAttributes: new { @class = "control-label col-md-2", style = "font-weight:bold;" })
    </div>
    <h4>  </h4>
    <hr />
</div>*@
        }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
