@model IEnumerable<CemexControlIngreso_V2.Models.VIAJE>

@{
    ViewBag.Title = "Viaje";
}

<h2>Viaje</h2>

<p>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Crear", "Create", "Viaje")</li>
            <li>@Html.ActionLink("Carga Masiva", "Importar_Click", "Viaje")</li>
        </ul>
    </div>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumeroViaje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONDUCTOR.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PLACAS.Placa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRAILER.PlacaTrailer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCTO.Producto1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CORREDOR.Corredor1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alcohotest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroViaje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONDUCTOR.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLACAS.Placa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRAILER.PlacaTrailer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCTO.Producto1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CORREDOR.Corredor1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alcohotest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.IdViaje }) |
            @Html.ActionLink("Consultar", "Details", new { id = item.IdViaje }) |
            @Html.ActionLink("Borrar", "Delete", new { id = item.IdViaje })
        </td>
    </tr>
}

</table>
