@model CemexControlIngreso_V2.Models.VIAJECTRL
@{
    var val = Model.IdConductor;
}


@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>VIAJE</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.IdViaje)

    <script>
        function callChangefunc(val) {
                 debugger;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ConsultaId", "VIAJECTRL")',
                data: { IdConductor: val },
                datatype: "html",
                success: function (data) {
                    debugger;
                    $('#NombreCond').val(data.split(",")[0].split(":")[1].replace(/"/g,""));
                    $('#Celular').val(data.split(",")[1].split(":")[1].replace(/"/g, ""));
                }
            });
    }
    </script>

    <div window.onload="callChangefunc(model.IdConductor);" />



    $( document ).ready( callChangefunc(model.IdConductor) );

    <div class="form-group">
        @Html.Label("Nombre", null, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("NombreCond", "", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Celular", null, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("Celular", "", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.idPlaca, "Placa", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("idPlaca", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idPlaca, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.idTrailer, "Trailer", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("idTrailer", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idTrailer, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.idTrailer, "Producto", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("idProducto", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdProducto, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.IdCorredor, "Corredor", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("IdCorredor", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdCorredor, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Prueba Alcoholemia", null, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("Alcohotest", "", new { @class = "form-control" })
        </div>
        @*@Html.LabelFor(model => model.Alcohotest, "Prueba Alcoholemia", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Alcohotest)
                @Html.ValidationMessageFor(model => model.Alcohotest, "", new { @class = "text-danger" })
            </div>*@
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Fecha, "Fecha Viaje", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Fecha)
            @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.NumeroViaje, "Número Viaje", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NumeroViaje)
            @Html.ValidationMessageFor(model => model.NumeroViaje, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("CheckList", "", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Partial("_CheckList")
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Estado, new SelectList(new[] { new { Value = "true", Text = "En Curso" }, new { Value = "false", Text = "Fin Viaje" }, }, "Value", "Text"))
            @*@Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
        <script type="text/JavaScript">
           
            
            $(document).ready(function () {
                
                $.ajax({
                type: 'POST',
                    url: '@Url.Action("ConsultaId", "VIAJE")',
                    data: { IdConductor: model.IdConductor },
                datatype: "html",
                    success: function (data) {
                        alert(val);
                    debugger;
                    $('#NombreCond').val(data.split(",")[0].split(":")[1].replace(/"/g,""));
                    $('#Celular').val(data.split(",")[1].split(":")[1].replace(/"/g, ""));
                }
            });
            });

        </script>
}
