@{
    ViewBag.Title = "Control de Ingreso Sedes Cemex";
}


<div class="jumbotron">
    <h2>CIC Nodos Fusa y Tocancipá</h2>
    <p class="lead">Control de Ingreso Conductores Nodos de Control Log Fusa y Tocancipá.</p>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</div>

<div class="container">
    <!-- Top Navigation -->

    <section class="header">
        <header>
            @*<h1 class="heading">Control de Ingreso Conductores Nodos Fusa y Tocancipá.</h1>*@
            <link href="~/Content/Styles.css" rel="stylesheet" type="text/css" />
        </header>

    </section>
    <div class="wrapper">
        <div class="wrap">
            <h1 class="Start">Inicio</h1>

            <div class="btn-small red">
                <i class="fa fa-user fa-2x"></i>
                <span class="label bottom">@Html.ActionLink("Conductor", "Index", "Conductor")</span>
            </div>
            <div class="btn-big blue">
                <i class="fa fa-road fa-2x"></i>
                <span class="label bottom">@Html.ActionLink("Corredor", "Index", "Corredor")</span>
            </div>
            <div class="btn-big orange">
                <i class="fa fa-book fa-2x"></i>
                <span class="label bottom">@Html.ActionLink("Instructor", "Index", "Instructor")</span>
            </div>
            <div class="btn-big blue">
                <i class="fa fa-users fa-2x"></i>
                <span class="label bottom">@Html.ActionLink("Usuarios", "Index", "Account/Register")</span>
            </div>
            <div class="btn-small green last">
                <i class="fa fa-minus-square fa-2x"></i>
                <span class="label bottom">@Html.ActionLink("Placas", "Index", "Placas")</span>
            </div>
            <div class="btn-big red-light">
                <i class="fa fa-dropbox fa-2x"></i>
                <span class="label bottom">@Html.ActionLink("Producto", "Index", "Producto")</span>
            </div>
            <div class="btn-big yellow">
                <i class="fa fa-truck fa-2x"></i>
                <span class="label bottom">@Html.ActionLink("Trailer", "Index", "Trailer")</span>
            </div>
            <div class="btn-small blue-nav last">
                <i class="fa fa-share-square fa-2x"></i>
                <span class="label bottom">@Html.ActionLink("Asignar Viaje", "Index", "Viaje")</span>
            </div>
            <div class="btn-big green-bright last">
                <i class="fa fa-share-square fa-2x"></i>
                <span class="label bottom">@Html.ActionLink("Llegada Nodo", "Index", "Viajectrl")</span>
            </div>
            <div class="btn-small blue-nav last">
                <i class="fa  fa-moon-o fa-2x"></i>
                <span class="label bottom">@Html.ActionLink("Descanso", "Index", "Descanso")</span>
            </div>
            <div class="btn-big red">
                <i class="fa fa-share-square fa-2x"></i>
                <span class="label bottom">@Html.ActionLink("Salida Nodo", "Index", "Viajectrl")</span>
            </div>

            <div class="btn-big gray">
                <i class="fa fa-print fa-2x"></i>
                <span class="label bottom">Reportes</span>
            </div>
        </div>
    </div>
</div>

