@model CemexControlIngreso_V2.Models.PRODUCTO

@{
    ViewBag.Title = "Consultar";
}

<h2>Consultar</h2>

<div>
    <h4>PRODUCTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Producto1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DropDownListFor(m => m.Estado, new SelectList(new[] { new { Value = "true", Text = "Activo" }, new { Value = "false", Text = "Inactivo" }, }, "Value", "Text"))
            @*@Html.DisplayFor(model => model.Estado)*@
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdProducto }) |
    @Html.ActionLink("Regresar", "Index")
</p>
